{% extends '../log/base.html' %}

{% block content %}

{% for question in questions %}
{% csrf_token %}
	<div class="container col-md-10" id="ques{{ forloop.counter }}">
		<form>
			Q. {{ question.ques }}<br>
			<ul>
				<li><input type="radio" onclick="evaluateAnswers(this)" id="{{ forloop.counter }}" name="opt{{ forloop.counter }}" value="{{ question.opt1 }}">{{ question.opt1 }}</li><br>
				<li><input type="radio" onclick="evaluateAnswers(this)" id="{{ forloop.counter }}" name="opt{{ forloop.counter }}" value="{{ question.opt2 }}">{{ question.opt2 }}</li><br>
				<li><input type="radio" onclick="evaluateAnswers(this)" id="{{ forloop.counter }}" name="opt{{ forloop.counter }}" value="{{ question.opt3 }}">{{ question.opt3 }}</li><br>
				<li><input type="radio" onclick="evaluateAnswers(this)" id="{{ forloop.counter }}" name="opt{{ forloop.counter }}" value="{{ question.opt4 }}">{{ question.opt4 }}</li><br>
				<input type="hidden" id="ans{{ forloop.counter }}" value="{{ question.ans }}">
			</ul>
		</form>
	</div>
{% endfor %}
<div class="container col-md-2">
	<button class="btn btn-primary" onclick="sendMarks()">End Test</button>
</div>


<script>
	var marks = 0;
	function change_question(id){
		var prev_id = id-1;
		
	};

	function evaluateAnswers(el){
		var answer = el.value;
		var i = el.id;
		var real_answer = document.getElementById('ans'+i).value;
		if(answer == real_answer) marks = marks+1;
		console.log(marks);
		if(i < 10){
			$("#ques"+i).addClass("hidden");
		}
	};

	function sendMarks(){
		$.ajax({
				type: 'POST',
				url: '/assessment/get_marks/',
				data: {
					marks: marks,
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
			});
	}
</script>

{% endblock %}