<!DOCTYPE html>

<head>
	<title>InfyJobs</title>
	{% load staticfiles %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/cfe5214cb2.js"></script>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Ribeye+Marrow" rel="stylesheet"> 
	{% block links %}

	{% endblock %}


</head>
<body>
	<div>
		{% include './navbar.html' %}

		{% block content %}

		{% endblock %}

		<!-- {% include './footer.html' %} -->
	</div>

</body>
</html>
