{% extends '../log/base.html' %}

{% block content %}
<a href="{% url 'profiles:edit_profile' user_profile.pk %}"><button class="">Edit</button></a>

<p>{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</p>
<p>{{ user_profile.user.email }}</p>
<p>{{ user_profile.nationality }}</p>
<p>{{ user_profile.contact_no }}</p>
<p>{{ user_profile.dob }}</p>
<p>{{ user_profile.school }}</p>
<p>{{ user_profile.tenth_cent }}</p>
<p>{{ user_profile.twelth_cent }}</p>
<p>{{ user_profile.college }}</p>
<p>{{ user_profile.course }}</p>
<p>{{ user_profile.cgpa }}</p>
<p>{{ user_profile.college_cent }}</p>
<p>{{ user_profile.more_courses }}</p>
<p>{{ user_profile.bio }}</p>
<p>{{ user_profile.expertise }}</p>
<p>{{ user_profile.skills }}</p>
<p>{{ user_profile.website }}</p>
<p>{{ user_profile.resume }}</p>


{% endblock %}