{% extends '../log/base.html' %}

{% block content %}


<div class="form-style">
	<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
        <h1 class="center">Edit Profile</h1>
	
		<fieldset>
			<div class="form-group">

				<div class="field">
				Name: {{ user.first_name }} {{ user.last_name }}
				{{ form.as_p }}
				</div>

			

			</div>
			</fieldset>
		
	<div class="form-group">
        <button type="submit" class="btn-block">Submit</button>
	    </div>

    </form>

<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{ user.first_name }} {{ user.last_name }}">
            </div>
          </div>
          
          {{ profile_form.as_p }}
				
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes">
             </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>


<script>
	var d = document.querySelectorAll("p");
	for(var i=0;i<d.length;i++){
		d[i].className = "form-group"
	}
	console.log(d);
	var e = document.querySelectorAll("p label");
	for(var i=0;i<e.length;i++){
		e[i].className = "col-lg-3 control-label";
	}
</script>



{% endblock %}